schema/schema_b/src/main/schema/schema_b.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://org.test.schema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://org.test.schema"
	elementFormDefault="qualified">
	<xs:include schemaLocation="schema_a.xsd" />
	<xs:element name="schemaBComplexType" type="SchemaBComplexType" />
	<xs:complexType name="SchemaBComplexType">
		<xs:sequence>
			<xs:element name="basicEnumInSchemaB" type="SchemaABasicEnumeration" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
